img {
	visibility: hidden;
	width: 0px;
	height: 0px;
}

@font-face {
	font-family: Troika;
	src: url(assets/fonts/score.ttf);
}

#d1 {
    font: 700 1px Troika;
    position: absolute;
    color: #000; 
}